## All Branch Shared

# Build Docs
build_docs/

# macos
*.DS_Store


## Modloader Branch Shared

# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# gradle
.gradle/
build/
out/
classes/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# other
run
runs
run-data


## Forge Branch Shared

# Files from Forge MDK
forge*changelog.txt
