name: 2. ExampleMod Build/Test - Fabric
run-name: "2. [1.20.6] - ${{ github.event.head_commit.message }}"
on:
  push:
    branches:
      - 1.20.1-fabric
  pull_request:
    branches:
      - 1.20.1-fabric

jobs:
  build:
    name: Build Project
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-build.yml@main
    with:
      project-root: .
      gradle-args: build
      runs-on: HomeServ

  gradle-test:
    name: Test Project
    if: contains(needs.prepare-outputs.outputs.BUILD_ALLOWED, github.ref_name)
    needs: build
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-test.yml@main
    with:
      project-root: .
      gradle-args: test
      runs-on: HomeServ

  runtime-test:
    name: Runtime Test
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-runtime-test.yml@main
    with:
      project-root: .
      gradle-args: build
      cache-mc: github
      runs-on: HomeServ
    needs: [build, gradle-test]