name: 2. 1.20.1 - Forge - ExampleMod Build/Test
on:
  push:
    branches:
      - 1.20.1-forge
      - 1.20.1-fabric
      - 1.20.1-multiloader
  pull_request:
    branches:
      - 1.20.1-forge
      - 1.20.1-fabric
      - 1.20.1-multiloader

env:
  BUILD_ALLOWED: '1.20.1-forge, 1.20.1-fabric, 1.20.1-multiloader'
  TEST_ALLOWED: '1.20.1-forge'

jobs:
  build:
    name: Build Project
    if: contains(github.env.BUILD_ALLOWED, github.ref_name)
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-build.yml@main
    with:
      project-root: .
      gradle-args: build
      runs-on: HomeServ

  gradle-test:
    name: Test Project
    if: contains(github.env.BUILD_ALLOWED, github.ref_name)
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-test.yml@main
    with:
      project-root: .
      gradle-args: test
      runs-on: HomeServ
    needs: build

  runtime-test:
    name: Runtime Test
    if: contains(github.env.TEST_ALLOWED, github.ref_name)
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-runtime-test.yml@main
    with:
      project-root: .
      gradle-args: build
      cache-mc: github
      runs-on: HomeServ
    needs: [build, gradle-test]