name: 1.20.1 - Forge - Build/Test
on:
  push:
  pull_request:

jobs:
  build:
    name: Build Project
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-build.yml@main
    with:
      project-root: .
      gradle-args: build
      runs-on: HomeServ

  gradle-test:
    name: Test Project
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-test.yml@main
    with:
      project-root: .
      gradle-args: test
      runs-on: HomeServ
    needs: build

  runtime-test:
    name: Runtime Test
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-runtime-test.yml@main
    with:
      project-root: .
      gradle-args: build
      cache-mc: github
      runs-on: HomeServ
    needs: [build, gradle-test]