name: 1.20.1 - Forge - Build
on:
  push:
  pull_request:

jobs:
  build:
    name: Build Project
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-build.yml@main
    with:
      project-root: .
      gradle-args: build
      runs-on: HomeServ